@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img,
picture {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  border-radius: 0;
}

@font-face {
  font-family: VinSansPro;
  font-display: swap;
  src: url("../fonts/VinSansPro-Light.woff2") format("woff2"), url("../fonts/VinSansPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
.text-purple {
  color: #9744d2;
}

.text-purple-dark {
  color: #5912b0;
}

.text-green {
  color: #68d6b9;
}

.text-dark {
  color: #000;
}

body {
  background-color: #9744d2;
  font-family: VinSansPro;
  color: #000;
  font-size: 36px;
}
body._lock-scroll {
  overflow: hidden;
}
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body::-webkit-scrollbar-thumb {
  background: #68d6b9;
  border-radius: 5px;
}
body::-webkit-scrollbar-track {
  background: #9744d2;
}

* {
  overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}

._container {
  padding: 0px 15px;
  margin: 0px auto;
  max-width: 1200px;
}

.fortune {
  position: relative;
  overflow: hidden;
}
.fortune__bg {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  .fortune__bg {
    display: none;
  }
}
.fortune__bg img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.fortune__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  .fortune__body {
    height: auto;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
  }
}
@media (max-width: 992px) and (max-width: 992px) {
  .fortune__body {
    row-gap: calc(10px - -10 * (100vw - 320px) / 672);
  }
}
@media (max-width: 992px) and (max-width: 320px) {
  .fortune__body {
    row-gap: 10px;
  }
}
.fortune__info {
  width: 100%;
  padding: 20px 40px;
  max-width: 700px;
  position: relative;
  padding: 20px 40px;
  z-index: 2;
}
@media (max-width: 1600px) {
  .fortune__info {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__info {
    padding-top: calc(4px - -16 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__info {
    padding-top: 4px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__info {
    padding-bottom: calc(0px - -20 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__info {
    padding-bottom: 0px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__info {
    padding-left: calc(8px - -32 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__info {
    padding-left: 8px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__info {
    padding-right: calc(8px - -32 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__info {
    padding-right: 8px;
  }
}
@media (max-width: 992px) {
  .fortune__info {
    z-index: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .fortune__info:before {
    content: "";
    background-color: #68d6b9;
    border-radius: 0 0 50% 0;
    width: 1350px;
    height: 992px;
    left: -248px;
    top: -536px;
    position: absolute;
    top: -135%;
    z-index: -1;
  }
}
@media (max-width: 992px) and (max-width: 992px) {
  .fortune__info:before {
    width: calc(500px - -850 * (100vw - 320px) / 672);
  }
}
@media (max-width: 992px) and (max-width: 320px) {
  .fortune__info:before {
    width: 500px;
  }
}
@media (max-width: 992px) and (max-width: 992px) {
  .fortune__info:before {
    height: calc(600px - -392 * (100vw - 320px) / 672);
  }
}
@media (max-width: 992px) and (max-width: 320px) {
  .fortune__info:before {
    height: 600px;
  }
}
@media (max-width: 992px) and (max-width: 992px) {
  .fortune__info:before {
    left: calc(0px - 248 * (100vw - 320px) / 672);
  }
}
@media (max-width: 992px) and (max-width: 320px) {
  .fortune__info:before {
    left: 0px;
  }
}
@media (max-width: 992px) and (max-width: 992px) {
  .fortune__info:before {
    top: calc(-200px - 336 * (100vw - 320px) / 672);
  }
}
@media (max-width: 992px) and (max-width: 320px) {
  .fortune__info:before {
    top: -200px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .fortune__info:before {
    border-radius: 0 0 70% 0;
  }
}
.fortune__title {
  font-size: 72px;
  line-height: 75px;
  margin-top: 40px;
  font-weight: bold;
}
@media (max-width: 1600px) {
  .fortune__title {
    font-size: 72px;
    line-height: 75px;
    margin-top: 40px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__title {
    font-size: calc(46px - -26 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__title {
    font-size: 46px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__title {
    line-height: calc(48px - -27 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__title {
    line-height: 48px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__title {
    margin-top: calc(20px - -20 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__title {
    margin-top: 20px;
  }
}
.fortune__subtitle {
  font-size: 39px;
  line-height: 41px;
  margin: 32px 0;
  font-weight: bold;
}
@media (max-width: 1600px) {
  .fortune__subtitle {
    font-size: 39px;
    line-height: 41px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__subtitle {
    font-size: calc(26px - -13 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__subtitle {
    font-size: 26px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__subtitle {
    line-height: calc(28px - -13 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__subtitle {
    line-height: 28px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__subtitle {
    margin-top: calc(10px - -22 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__subtitle {
    margin-top: 10px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__subtitle {
    margin-bottom: calc(10px - -22 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__subtitle {
    margin-bottom: 10px;
  }
}
.fortune__desc {
  font-size: 22px;
  line-height: 22px;
  margin: 22px 0;
  margin-bottom: 65px;
  max-width: 550px;
}
@media (max-width: 1600px) {
  .fortune__desc {
    font-size: 22px;
    line-height: 22px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__desc {
    font-size: calc(14px - -8 * (100vw - 992px) / 608);
  }
}
@media (max-width: 1600px) and (max-width: 992px) {
  .fortune__desc {
    font-size: 14px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__desc {
    line-height: calc(16px - -6 * (100vw - 992px) / 608);
  }
}
@media (max-width: 1600px) and (max-width: 992px) {
  .fortune__desc {
    line-height: 16px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__desc {
    margin-top: calc(10px - -12 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__desc {
    margin-top: 10px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__desc {
    margin-bottom: calc(16px - -6 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__desc {
    margin-bottom: 16px;
  }
}
@media (max-width: 992px) {
  .fortune__desc {
    font-size: 22px;
    line-height: 22px;
  }
}
@media (max-width: 992px) and (max-width: 1600px) {
  .fortune__desc {
    font-size: calc(20px - -2 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 992px) and (max-width: 320px) {
  .fortune__desc {
    font-size: 20px;
  }
}
@media (max-width: 992px) and (max-width: 1600px) {
  .fortune__desc {
    line-height: calc(20px - -2 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 992px) and (max-width: 320px) {
  .fortune__desc {
    line-height: 20px;
  }
}
@media (max-width: 992px) {
  .fortune__desc br {
    display: none;
  }
}
.fortune__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1600px) {
  .fortune__form {
    align-items: start;
  }
}
@media (max-width: 992px) {
  .fortune__form {
    align-items: center;
  }
}
.fortune__input {
  width: 100%;
  max-width: 306px;
  padding: 16px 20px;
  font-size: 28px;
  line-height: 30px;
  border: 6px solid #ff80cd;
  border-radius: 20px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  text-transform: uppercase;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1600px) {
  .fortune__input {
    font-size: 28px;
    line-height: 30px;
    max-width: 306px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    border-width: 6px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__input {
    font-size: calc(22px - -6 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__input {
    font-size: 22px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__input {
    line-height: calc(22px - -8 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__input {
    line-height: 22px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__input {
    max-width: calc(260px - -46 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__input {
    max-width: 260px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__input {
    padding-top: calc(10px - -6 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__input {
    padding-top: 10px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__input {
    padding-bottom: calc(10px - -6 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__input {
    padding-bottom: 10px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__input {
    padding-left: calc(12px - -8 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__input {
    padding-left: 12px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__input {
    padding-right: calc(12px - -8 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__input {
    padding-right: 12px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__input {
    border-radius: calc(12px - -8 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__input {
    border-radius: 12px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__input {
    margin-bottom: calc(15px - -5 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__input {
    margin-bottom: 15px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__input {
    border-width: calc(2px - -4 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__input {
    border-width: 2px;
  }
}
.fortune__input:focus {
  border-color: #9744d2;
}
.fortune__submit {
  width: 100%;
  max-width: 306px;
  color: #f5f5f5;
  font-size: 24px;
  padding: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
}
.fortune__submit:active {
  transform: translateY(2px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1600px) {
  .fortune__submit {
    font-size: 24px;
    max-width: 306px;
    padding: 20px;
    border-radius: 20px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__submit {
    font-size: calc(22px - -2 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__submit {
    font-size: 22px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__submit {
    max-width: calc(260px - -46 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__submit {
    max-width: 260px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__submit {
    padding: calc(12px - -8 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__submit {
    padding: 12px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .fortune__submit {
    border-radius: calc(10px - -10 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1600px) and (max-width: 320px) {
  .fortune__submit {
    border-radius: 10px;
  }
}
@media (max-width: 992px) {
  .fortune__wheel {
    position: relative;
    z-index: 2;
  }
}
.fortune__wheel .fortune__bg {
  display: none;
}
@media (max-width: 992px) {
  .fortune__wheel .fortune__bg {
    display: block;
    width: 900px;
    max-width: none;
    margin-left: 0px;
  }
}
@media (max-width: 992px) and (max-width: 992px) {
  .fortune__wheel .fortune__bg {
    margin-left: calc(-350px - -350 * (100vw - 320px) / 672);
  }
}
@media (max-width: 992px) and (max-width: 320px) {
  .fortune__wheel .fortune__bg {
    margin-left: -350px;
  }
}
.fortune__arrow {
  display: inline-block;
  position: absolute;
  z-index: 2;
  margin-bottom: -27px;
  width: 100%;
  max-width: 5%;
  top: 10%;
  right: 41%;
}
@media (max-width: 992px) {
  .fortune__arrow {
    max-width: none;
    width: 40px;
    right: 457px;
  }
}
@media (max-width: 992px) and (max-width: 992px) {
  .fortune__arrow {
    right: calc(141px - -316 * (100vw - 320px) / 672);
  }
}
@media (max-width: 992px) and (max-width: 320px) {
  .fortune__arrow {
    right: 141px;
  }
}
.fortune__arrow img {
  width: 100%;
}
.fortune__circle {
  position: absolute;
  width: 100%;
  max-width: 32%;
  top: 15.5%;
  right: 27.5%;
}
@media (max-width: 992px) {
  .fortune__circle {
    width: 285px;
    max-width: none;
    top: 16%;
    right: 340px;
  }
}
@media (max-width: 992px) and (max-width: 992px) {
  .fortune__circle {
    right: calc(18px - -322 * (100vw - 320px) / 672);
  }
}
@media (max-width: 992px) and (max-width: 320px) {
  .fortune__circle {
    right: 18px;
  }
}
.fortune__circle img {
  width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Прозорий чорний фон */
  display: none; /* Спочатку приховане */
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* Спливаюче вікно */
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

/* Текст у вікні */
.modal h2 {
  margin: 0 0 15px;
  font-size: 20px;
}

.modal p {
  margin: 0 0 20px;
  font-size: 16px;
}

/* Кнопка закриття */
.modal .styled-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal .styled-button:hover {
  background-color: #4b47c5;
}

/* Відображення модального вікна */
.modal-overlay.active {
  display: flex; /* Показуємо модальне вікно */
}

.page {
  flex: 1 1 auto;
}